.WhatCrytical {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding-top: 125px;
    margin: auto;
    &__img{
        height: 290px;
        width: 244px;
        flex: 1;
        margin-top: -30%;
        img{
            height: 90%;
            width: 90%;
            margin-top: 40px;
            object-fit: contain;
        }
    }
    &__text{
        flex: 2;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        &__head{
            font: normal normal 600 70px Poppins;
letter-spacing: 1.4px;
color: #231F20;
font-size: 55px !important;
        line-height: 60px !important;
margin-bottom: 10px;
        }
        &__body{
            font: normal normal normal 20px/30px Poppins;
            letter-spacing: 0px;
            font-size: 15px;
            color: #231F20;
        }
    }
  

}


@media (max-width: 768px) {
    .WhatCrytical {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        margin-top: 50%;
        padding-top: 0px;
        margin-top: 50px;
        &__img{
            height: 70px;
            width: 84px;
            flex: 1;
            img{
                height: 100%;
                width: 100%;
                margin-top: 85px;
                margin-bottom: 30px;
                object-fit: contain;
            }
        }
        &__text{
            flex: 2;
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            margin-top: 10px;
            &__head{
                font: normal normal 600 16px/17px Poppins !important;    letter-spacing: normal;
    color: #231F20;
    margin-bottom: 10px;
            }
            &__head br{
                display: none;
            }
            &__body{
                font: normal normal normal 12px/17px Poppins;
                letter-spacing: 0.4px;
                color: #231F20;
            }
        }
    
    }
    
    
  }
  